ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 1rem;
}
// li:nth-child(2n) {
//   border: 2px black dotted;
//   flex-wrap: wrap;

//   // flex-basis: 50%;
// }
li {
  flex: 0 0 33.333333%;
  list-style: none;
  height: 7rem;
  width: 7rem;
}
button {
  background-color: lightblue;
  border-radius: 5%;
  border: none;
}
h1 {
  color: cadetblue;
  @include flex-center;
}
h5 {
  color: red;
}
i {
  font-size: 2rem;
}

img {
  width: 20rem;
}
